/* --------- about_titel -------- */
.about_titel{
    /* border: 1px solid red; */
    max-width: 100%;

}

.about_titel > h1{
    text-align: center;
    margin: 10px 0;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.about_titel > ul{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.about_titel > ul > li{
    /* border: 1px solid black; */
    margin-left: 10px;
}

.about_titel > ul > .fa-house{
    /* border: 1px solid yellow; */
    font-size: 26px;
    padding-bottom: 10px;
    margin-left: 40px;
}

.about_titel > ul > li > a{
    text-decoration: none;
    /* border: 1px solid purple; */
    color: black;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);  
}


/* ------------ brand_concept ------------ */
.brand_concept{
    /* border: 1px solid red; */
    max-width: 100%;
    background-image: url("../img/brand_bgm.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin: 50px;
}

.brand_concept > h1{
    margin: 20px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.brand_concept > p{
    margin: 20px;
    font-size: 28px;
    line-height: 1.6;
    letter-spacing: 8px;
    padding: 10px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.team{
    /* border: 1px solid blue; */
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.team h1{
    /* border: 1px solid black; */
    max-width: 100%;
    margin: 30px auto;
    padding: 20px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.team > ul{
    /* border: 1px solid purple; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.team > ul > li{
    /* border: 1px solid green; */
    max-width: 30%;
    margin: 20px auto;

}

.team > ul > li > img {
    /* border: 1px solid brown; */
    display: inline-block;
    max-width: 100%;
    height: 82%;
}

.team > ul > li > h2{
    display: inline-block;
    border-bottom: 6px solid rgb(147, 207, 245);
    letter-spacing: 2px;
    margin: 10px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.team > ul > li > p{
    font-size: 20px;
    letter-spacing: 3px;
    margin: 10px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}