/* ------------ footer ----------------- */
.bottom{
    /* outline: 1px solid brown; */
    background-color: rgb(253, 200, 213, .3);
    max-width: 100%;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.bottom > img{
    margin-top: 20px;
}

.bottom a{
    /* border: 1px solid blue; */
    text-decoration: none;
    font-size: 24px;
    color: black;
    padding: 10px;

}


.bottom_content{
    margin: 0 auto;
    /* outline: 1px solid blue; */
}
.bottom_content ul{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.bottom_content li{
    /* border: 1px solid peru; */
    padding: 10px;
}

.bottom_content li:hover a{
    color: rgb(38, 74, 255);
}

.map{
    /* border: 1px solid red; */
    padding: 20px 0;
}

.map i{
    font-size: 25px;
    margin-right: 10px;
}


.bottom .fa-circle-chevron-up{
    /* border: 1px solid yellow; */
    font-size: 50px;
    position: absolute;
    right: 100px;
    top: 30px;
}