

/* ------------- 標語 ------------- */
.banner{
    /* border: 1px solid blue; */
}

.main{
    /* outline: 1px solid black; */
    display: flex;
}

.main_left{
    transition: 1.5s;
}

.main_left:hover{
    transform: scale(1.5);
}

.main_left img{
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px rgb(181, 179, 179);
}

.main_titel{
    /* outline: 1px solid green; */
    margin: 20px 10px;
    text-align: center;
    flex-grow: 2;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
    z-index: 99;
}

.main_titel img{
    margin: 10px 0;
}

.main_titel > p{
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px  rgb(236, 184, 191);
}

.main_right{
    transition: 1.5s;
}

.main_right:hover{
    transform: scale(1.5);
}

.main_right img{
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px rgb(181, 179, 179);
}



/* --------------- 婚禮作品 ---------------- */

.wedding{
    /* border: 1px solid red; */
    text-align: center;
    margin: 50px auto;
    position: relative;
    /* display: inline-flex; */
}
.wedding h1{
    /* outline: 1px solid purple; */
    margin: 30px;
    text-shadow: 3px 3px 3px rgb(236, 165, 175);

}

.wedding_content{
    /* border: 1px solid blue; */
    display: flex;
    text-align: left;
    overflow: hidden;
}

.wedding_content li > h2{
    font-size: 24px;
    margin: 40px 20px 5px;
    text-shadow: 2px 2px 3px rgb(236, 184, 191);
}

.wedding_content li > h3{
    font-size: 20px;
    padding: 5px 20px;
    text-shadow: 2px 2px 3px  rgb(236, 184, 191);
}

.wedding_content li{
    /* outline: 1px solid yellow; */
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin-right: 40px;
    flex-shrink: 0;
    box-shadow: 3px 3px 5px 3px rgb(181, 179, 179);
}

.wedding_content > .wedding_1{
    background-image: url(../img/fron_wedding1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wedding_content > .wedding_2{
    background-image: url(../img/fron_wedding2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.wedding_content > .wedding_3{
    background-image: url(../img/fron_wedding3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wedding_content > .wedding_4{
    background-image: url(../img/fron_wedding4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fa-circle-chevron-right{
    /* border: 1px solid red; */
    position: absolute;
    right: -70px;
    bottom: 280px;
    font-size: 60px;
}

.fa-circle-chevron-left{
    position: absolute;
    left: -70px;
    bottom: 280px;
    font-size: 60px;
}

/* -------------- 新人評價 --------------- */
.evaluate{
    /* border: 1px solid red; */
    margin: 0 auto;
}

.evaluate > h1{
    /* border: 1px solid yellow; */
    margin: 80px 30px 0;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(236, 165, 175);
}

.evaluate .evaluate_content{
    /* border: 1px solid purple; */
    display: flex;
    flex-wrap: wrap;
}

.evaluate_content > li{
    /* border: 1px solid red; */
    background-image: linear-gradient(0deg, white 0%,  rgb(253, 200, 213, .7) 50%, white 100%);
    border-radius: 10px;
    width: 500px;
    margin: 50px auto 80px;
    padding: 20px;
    position: relative; 
}

.evaluate_content .star{
    /* border: 1px solid red; */
    width: 50%;
    display: block;
    margin: 20px auto;
}

.evaluate_content li > p{
    font-size: 24px;
    line-height: 1.8;
}

.evaluate_content p + p{
    /* border: 1px solid blue; */
    text-align: right;
    letter-spacing: 4px;
    font-size: 22px;
    margin-top: 20px;
}

.evaluate_content li > p + img {
    /* border: 1px solid blue; */
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px rgb(181, 179, 179);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.evaluate_content li:hover p + img{ 
    transform: translateY(-320px);
}


