@import url('reset.css');

body{
    font-size: 36px;
    font-weight: bold;
    background-color: white;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.top_nav{
    /* outline: 1px solid red; */
    background-color: rgb(238, 246, 251);
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}

.top_nav div{
    /* outline: 1px solid orange; */
    flex-grow: 1;
}


/* ----------- top_left --------- */
.top_left{
    /* outline: 1px solid gray; */
    margin: 10px 0 10px 10px;
    max-width: 36%;
}

.top_content{
    /* outline: 1px solid black; */
    font-size: 18px;
    letter-spacing: 2px;
}

.top_content li{
    /* outline: 1px solid yellow; */
    margin-bottom: 10px;
    padding: 10px;
}

.top_content li a{
    padding-left: 20px;
    color: black;
}

.top_content li a i{
    margin-right: 10px;
}

.top_content .ask{
    font-size: 20px;
    text-decoration: none;
}

.top_logo {
    margin: auto;
    text-align: center;
}

.top_logo img{
    /* outline: 1px solid green; */
    width: 230px;
    height: 106px;
    padding: 20px 0;
}



/* ----------- top_MEUN --------- */
.top_meun{
    /* outline: 1px solid purple;  */
    text-align: center;
    position: relative;
}

.top_meun .fa-bars{
    /* outline: 1px solid blue; */
    margin-top: 40px;
    margin-right: 40px;
    font-size: 40px;
}

.top_meun p{
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-right: 35px;
}

.top_meun:hover > ul{
    opacity: 1;
    transform: translateY(826px);
}


/* -------------top_right------------- */
.top_right{
    background-color: rgb(238, 246, 251);
    /* background-color: gray; */
    position: absolute;
    width: 100%;
    right: 0px;
    top: -660px;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transition: 1s;
}

.top_right li{
    /* border: 1px solid blue; */
    padding: 12px 20px;
    letter-spacing: 1px;
}
 
.top_right .right_i{
    text-align: left;
}

.top_right .right_nav{
    border-bottom: 1px solid rgb(202, 218, 228);
}

.top_right li a{
    /* border: 1px solid green; */
    text-decoration: none;
    color: black;
    display: block;
}

.top_right li a i{
    font-size: 18px;
    width: 40px;
}

.top_img > img{
    /* border: 1px solid red; */
    display: block;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 50px;
}



