@import url('reset.css');

body{
    font-family: 'Noto Sans TC, Noto Sans', sans-serif;
    font-size: 36px;
    background-color: white;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

#up_icon{
    /* border: 1px solid blue; */
    text-decoration: none;
    color: rgb(98, 95, 95);
    position: fixed;
    bottom: 4vw;
    right: 20vw;
    z-index: 99;
    opacity: 0;
}

#up_icon.show {
    opacity: 1;
  }

#up_icon:hover .fa-circle-chevron-up{
    cursor: pointer;
}



.top_nav{
    /* outline: 1px solid red; */
    background-color: rgb(238, 246, 251);
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    z-index: 100;
}

.top_nav div{
    /* outline: 1px solid orange; */
    flex-grow: 1;
}


/* ----------- top_left --------- */
.top_left{
    /* outline: 1px solid gray; */
    width: 250px;
    
}

.top_content{
    /* outline: 1px solid black; */
    font-size: 18px;
    letter-spacing: 2px;
}

.top_content li{
    /* outline: 1px solid yellow; */
    padding: 10px;
    font-size: 14px;
}

.top_content li a{
    padding-left: 15px;
    color: black;
}

.top_content li a i{
    margin-right: 10px;
}

.top_content .ask{
    font-size: 16px;
    text-decoration: none;
}

.top_logo {
    margin-left: 4%;
    /* text-align: center; */
}

.top_logo a{
    display: block;
    width: 100%;
}

.top_logo img{
    /* outline: 1px solid green; */
    padding: 15px 0;
}



/* ----------- top_MENU --------- */
.top_menu{
    /* outline: 1px solid purple;  */
    text-align: end;
    position: relative;
}

.top_menu .fa-bars{
    /* outline: 1px solid blue; */
    text-align: center;
    font-size: 35px;
    padding: 30px;
}

.top_menu p{
    font-size: 12px;
    letter-spacing: 2px;
}

.top_menu:hover ul{
    opacity: 1;
    transform: translateY(760px);
}


/* -------------top_right------------- */
.top_right{
    background-color: rgb(238, 246, 251);
    /* background-color: gray; */
    text-align: center;
    font-size: 18px;
    position: absolute;
    width: 100%;
    right: 0px;
    /* top: 100px; */
    top: -660px;
    opacity: 1;
    transition: 1s;
}

.top_right li{
    /* border: 1px solid blue; */
    letter-spacing: 1px;
}
 
.top_right .right_i{
    text-align: left;
    font-size: 14px;
}

.top_right .right_nav{
    border-bottom: 1px solid rgb(202, 218, 228);
    padding: 5px 0;
}

.top_right li a{
    /* border: 1px solid green; */
    text-decoration: none;
    padding: 12px;
    color: black;
    display: block;
}


.top_right li a i{
    font-size: 16px;
    width: 30px;
}


.top_right li:hover a,
.top_content li:hover .ask{
    color:hsla(200, 100%, 50%, .8);
}



