/* --------------- top_img -------------- */
.top_img{
    /* border: 1px solid red; */
    max-width: 1200px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.top_img > img{
    display: block;
    width: 100%;
}

.top_img h1{
    letter-spacing: 15px;
    font-size: 60px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px rgb(239, 239, 239);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    margin-top: -120px;
    margin-right: 40px;
}

.top_img::after {
	content: ""; 
	display: block;
    padding-bottom: 12%;
}

/* ------------- 標語 ------------- */
.banner{
    /* border: 1px solid blue; */
}

.main{
    /* outline: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.main_left{
    transition: 1s;
}

.main_left:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.main_left img{
    width: 400px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgb(181, 179, 179);
}

.main_titel{
    /* outline: 1px solid green; */
    margin: 20px 10px;
    text-align: center;
    flex-grow: 2;
    z-index: 99;
}

.main_titel img{
    margin: 10px 0;
}

.main_titel > p{
    font-size: 20px;
    line-height: 2.2;
    letter-spacing: 5px;
}

.main_right{
    transition: 1s;
}

.main_right:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.main_right img{
    width: 400px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgb(181, 179, 179);
}



/* --------------- 婚禮作品 ---------------- */

.wedding{
    /* border: 1px solid red; */
    text-align: center;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    /* display: inline-flex; */
}
.wedding h1{
    /* outline: 1px solid purple; */
    margin: 30px;

}

.wedding_content{
    /* border: 1px solid blue; */
    display: flex;
    text-align: left;
    letter-spacing: 2px;
}

.wedding_content li > h2{
    font-size: 24px;
    margin: 10px 40px 0;
    text-align: center;
    width: 40%;
}

.wedding_content li > h3{
    font-size: 20px;
    padding: 15px 10px;
    margin-left: 10px;
    text-align: center;
    width: 50%;
}

.wedding_content li{
    /* outline: 1px solid yellow; */
    width: 400px;
    margin-right: 20px;
    flex-shrink: 0;
    box-shadow: 2px 2px 3px rgb(181, 179, 179);
}

.wedding_content li img{
    width: 100%;
    display: block;
}

.fa-chevron-right{
    /* border: 1px solid red; */
    position: absolute;
    right: 0px;
    bottom: 270px;
    font-size: 30px;
    margin: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.fa-chevron-left{
    position: absolute;
    left: 0px;
    bottom: 270px;
    font-size: 30px;
    margin: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* -------------- 新人評價 --------------- */
.evaluate{
    /* border: 1px solid red; */
    margin: 0 auto;
}

.evaluate > h1{
    /* border: 1px solid yellow; */
    padding: 30px;
    text-align: center;
}

.evaluate .evaluate_content{
    /* border: 1px solid purple; */
    display: flex;
    flex-wrap: wrap;

}

.evaluate_content > li{
    /* border: 1px solid red; */
    background-image: linear-gradient(0deg, white 0%,  rgba(243, 224, 229, 0.7) 50%, white 100%);
    border-radius: 2px;
    width: 500px;
    margin: 20px auto;
    padding: 30px;
    position: relative;
}

.evaluate_content .star{
    /* border: 1px solid red; */
    width: 30%;
    display: block;
    margin: 25px auto;
}

.evaluate_content li > p{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
    text-align: justify;
    margin: 5px 0;
}

.evaluate_content p + p{
    /* border: 1px solid blue; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    letter-spacing: 4px;
    font-size: 18px;
    margin-top: 30px;
}

.evaluate_content li > p + img {
    /* border: 1px solid blue; */
    border-radius: 2px;
    box-shadow: 2px 2px 3px rgb(181, 179, 179);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1.5s;
}

.evaluate_content li:hover p + img{ 
    transform: rotateY(180deg);
    z-index: -1;
    opacity: 0;
}

