
.news_main{
    /* border: 1px solid red; */
    max-width: 100%;
}


/* --------------- news_titel ----------------- */
.news_titel{
    /* border: 1px solid blue; */
}

.news_titel > h1{
    text-align: center;
    margin: 10px 0;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.news_titel > ul{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    font-size: 20px;
}

.news_titel > ul > li{
    /* border: 1px solid black; */
    margin: 0 10px;
}

.news_titel> ul > .fa-house{
    /* border: 1px solid yellow; */
    font-size: 26px;
    padding-bottom: 10px;
    margin-left: 40px;
}


.news_titel > ul > .fa-chevron-right{
    font-size: 12px;
}

.news_titel > ul > li > a{
    text-decoration: none;
    /* border: 1px solid purple; */
    color: black;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.news_titel li:hover a{
    color: rgb(38, 74, 255);
}


/* --------------- news_content ----------------- */
.news_content{
    /* border: 1px solid green; */
    margin: 20px;
}

.news_content ul{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.news_content ul li{
    /* border: 1px solid red; */
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
    max-width: 30%;
    transition: .8s;

}

.news_content ul > li:hover{
    transform: scale(1.1);
}

.news_content ul > li img{
    /* border: 1px solid blue; */
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 3px rgb(207, 182, 191);
}


.news_content ul > li h2{
    border-bottom: 6px solid rgb(147, 207, 245);
    display: inline-block;
    font-size: 28px;
    margin: 20px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.news_content ul > li h3{
    font-size: 24px;
    margin: 20px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.news_content ul > li p{
    /* border:1px solid black; */
    color: red; 
    margin: 20px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(241, 216, 216);
}



