.service_content{
    width: 1200px;
}

/* --------------- service_title ------------- */
.service_content > h1{
    text-align: center;
    margin: 10px 0;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.service_content > ul{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.service_title > li{
    /* border: 1px solid black; */
    margin: 0 10px;
}

.service_title > .fa-house{
    /* border: 1px solid yellow; */
    font-size: 26px;
    padding-bottom: 10px;
    margin-left: 40px;
}

.service_title > .fa-chevron-right{
    font-size: 12px;
}

.service_title > li > a{
    text-decoration: none;
    /* border: 1px solid purple; */
    color: black;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);  
}

.service_title li:hover a{
    color: rgb(38, 74, 255);
}




/* ------------ service_banner ----------- */
.service_banner{
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.service_banner li{
    /* border: 1px solid sienna; */
    background-color: rgb(255, 252, 248);
    box-shadow: 3px 3px 3px 3px rgb(230, 226, 226);
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 50px 20px;
     
}

.service_banner img{
    display: block;
    flex-shrink: 0;
    margin-left: 200px;
    margin-bottom: 150px;
}

.service_banner li:nth-child(1){
    background-image: url("../img/engagement_left.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 250px auto;
}

.service_banner li:nth-child(4){
    background-image: url("../img/marry_left.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 250px auto;
}

.service_banner li:nth-child(5){
    background-image: url("../img/host_left.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 250px auto;
}

.service_banner li:nth-child(8){
    background-image: url("../img/adviser_left.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 250px auto;
}
.service_banner li h2{
    border-bottom: 6px solid rgb(147, 207, 245);
    font-size: 36px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
    margin: 50px 0 50px 20px;
    letter-spacing: 5px;
    padding-bottom: 5px;
}

.service_banner li p{
    font-size: 20px;
    line-height: 2;
    margin: 20px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: justify;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

