/* --------------- evaluate_titel ----------------- */
.evaluate_titel > h1{
    text-align: center;
    margin: 20px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.evaluate_titel > ul{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.evaluate_titel > ul > li{
    /* border: 1px solid black; */
    margin-left: 10px;
}

.evaluate_titel > ul > .fa-house{
    /* border: 1px solid yellow; */
    font-size: 26px;
    padding-bottom: 10px;
    margin-left: 40px;
}

.evaluate_titel > ul > li > a{
    text-decoration: none;
    /* border: 1px solid purple; */
    color: black;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);  
}





/* -------------------- evaluate_content --------------- */
.evaluate_content{
    letter-spacing: 2px;
}

.evaluate_content .star{
    /* border: 1px solid brown; */
    width: 300px;
    height: 50px;
    margin: 20px auto;
}

.evaluate_content h2{
    padding: 20px 10px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.evaluate_content p{
    font-size: 22px;
    padding: 20px;
    line-height: 1.5;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.evaluate_content p + p{
    text-align: right;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.evaluate_content .evaluate_text{
    background-color: rgb(255, 252, 248);
    position: relative;
    margin-bottom: 100px;
    margin-top: -100px;
    box-shadow: 3px 3px 5px rgb(208, 207, 207);
}


/* ------------------- evaluate_top -------------------- */
.evaluate_top{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}


/* ---------------------- top_left-------------------- */
.evaluate_left1{
    /* border: 1px solid blue; */
    width: 45%;
    margin: 20px;
    flex-grow: 1;
}

.evaluate_left1 > li > img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}




/* ---------------------- top_right-------------------- */
.evaluate_right1{
    /* border: 1px solid blue; */
    width: 45%;
    margin: 20px;
    flex-grow: 1;
}

.evaluate_right1 > li > img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}


/* ----------------- evaluate_bottom ----------------- */

.evaluate_bottom{
    display: flex;
    flex-wrap: wrap;
}



/* -------------------- bottom_left ----------------- */

.evaluate_left2{
    /* border: 1px solid blue; */
    width: 45%;
    margin: 20px;
    flex-grow: 1;
    margin-bottom: 250px;
    margin-top: -250px;
}

.evaluate_left2 > li > img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}


/* ----------------- evaluate_right2 ---------------- */

.evaluate_right2{
    /* border: 1px solid blue; */
    width: 45%;
    margin: 20px;
    flex-grow: 1;
    margin-top: 100px;
    margin-bottom: -100px;
}

.evaluate_right2 > li > img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}