/* --------------- wedding_titel ----------------- */
.wedding{
    /* border: 1px solid red; */
}

.wedding_titel{

}

.wedding_titel > h1{
    text-align: center;
    margin: 20px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);
}

.wedding_titel > ul{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.wedding_titel > ul > li{
    /* border: 1px solid black; */
    margin-left: 10px;
}

.wedding_titel > ul > .fa-house{
    /* border: 1px solid yellow; */
    font-size: 26px;
    padding-bottom: 10px;
    margin-left: 40px;
}

.wedding_titel > ul > li > a{
    text-decoration: none;
    /* border: 1px solid purple; */
    color: black;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(216, 212, 212);  
}



/* ---------------------- weddimg_content --------------------- */

.weddimg_content{
    width: 100%;
}

.weddimg_content img{
    width: 100%;
    height: 250px;
    display: block;
    box-sizing: border-box;
}
.weddimg_content h2{
    font-size: 28px;
    margin: 20px 10px;
    padding: 10px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 2px rgb(195, 195, 195);
}

.weddimg_content h3{
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 2px rgb(195, 195, 195);
}

.weddimg_content p{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 2px rgb(195, 195, 195);
}

.weddimg_content .wedding_text{
    /* border: 1px solid red; */
    background-color: rgb(255, 252, 248);
    width: 250px;
    margin-bottom: 50px;
    margin-top: -50px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px rgb(208, 207, 207);

}

/* -------------- wedding_1 --------------- */

.wedding_1{
    display: flex;
}

.wedding_1 ul{
    /* border: 1px solid blue; */
    width: 100%;
    flex-grow: 1;
}

.wedding_1 ul li{
    /* border: 1px solid purple; */
}


/* ------------------- wedding_1_left ------------------ */

.wedding_1_left{
    /* border: 1px solid brown; */
    display: flex;
    flex-wrap: wrap;
}

.wedding_1_left > li > img{
    width: 100%;
    height: 400px;
}

.wedding_1_left > li:nth-child(3){
    /* border: 1px solid black; */
    width: 45%;
    margin-bottom: 50px;
    margin-top: -50px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px rgb(208, 207, 207);
}

.wedding_1_left .wedding1-2{
    /* border: 1px solid green; */
    display: block;
    box-sizing: border-box;
    height: 200px;
}



/* ------------------ wedding_1_right ------------------ */

.wedding_1_right{
    width: 100%;
}

.wedding_1_right li{
    /* border: 1px solid purple; */
    width: 90%;
    margin-left: 30px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 5px rgb(208, 207, 207);
}


/* -------------- wedding_2 --------------- */
.wedding_2{
    /* border: 1px solid blue; */
    display: flex;
}

.wedding_2 ul{
    width: 100%;
    flex-grow: 1;
}

.wedding_2 ul li{
     /* border: 1px solid purple; */
}


/* ---------------- wedding_2_left ------------------- */

.wedding_2_left{
    /* border: 1px solid blue; */
    width: 100%;
}

.wedding_2_left li{
    /* border: 1px solid black; */
    width: 90%;
    margin-left: 30px;
    margin-bottom: 50px;
    box-shadow: -3px 3px 5px rgb(208, 207, 207);
}



/* ---------------- wedding_2_right ------------------- */
.wedding_2_right{
    /* border: 1px solid brown; */
    display: flex;
    flex-wrap: wrap;
}


.wedding_2_right > li > img{
    width: 100%;
    height: 400px;
}


.wedding_2_right > li:nth-child(2){
    /* border: 1px solid black; */
    width: 45%;
    margin: -50px 20px 50px;
    box-shadow: -3px 3px 5px rgb(208, 207, 207);
}

.wedding_2_right .wedding2-4{
    /* border: 1px solid green; */
    display: block;
    box-sizing: border-box;
    height: 200px;
  
}

/* ------------------ wedding_3 ---------------- */

.wedding_3{
    display: flex;

}

.wedding_3 ul{
    /* border: 1px solid blue; */
    width: 100%;
    flex-grow: 1;
}

.wedding_3 li{
    /* border: 1px solid blueviolet; */
    width: 100%;
}


/* ---------------------- wedding_3_left --------------------- */
.wedding_3_left{
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
}

.wedding_3_left > li > img{
    width: 100%;
    height: 400px;
}

.wedding_3_left > li:nth-child(3){
    /* border: 1px solid black; */
    width: 45%;
    margin-bottom: 50px;
    margin-top: -50px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px rgb(208, 207, 207);
}

.wedding_3_left .wedding3-2{
    /* border: 1px solid green; */
    display: block;
    box-sizing: border-box;
    height: 200px;
}



/* ---------------------- wedding_3_right --------------------- */
.wedding_3_right {
    width: 100%;
}

.wedding_3_right li{
    width: 90%;
    margin-left: 30px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 5px rgb(208, 207, 207);
}